.container{
    background-color:white;
    width: 100%;
    height: 100%;
    color: black;
}
.header{
    background-color: white;
    color: black;
    padding-left: 12px;
    padding-right: 12px;
}
.logo{
    color:#04AA6D;
    font-size: 50px;
    text-decoration-line: none;
    margin: 8px;
    margin-top: 10px;
}

.headerbutton{
    color: black;
    padding-top: 18px;
    padding-bottom: 28px;
    font-size: 20px;
    border: 0px;
    background-color: white;
    cursor:pointer ;


}
.headerbutton:hover{
    background-color:#04AA6D ;
    color: black;
}

#upgradebutton{
    
    margin-left: 53px;
    color: white;
    border-radius: 25px;
    height: 44px;
    background-color:black;
    font-size: 18px;

}

#upgradebutton:hover{
    background-color: hsla(0, 0%, 30%, 1);
}